extends base.pug
include mixins/players

block content
  h2 Chelsea Video List
  nav
    ul 
      li
        a(href = "/chelsea/videos/upload") upload video
      li
        a(href = "/chelsea/videos/search") search video
  each video in videos
    +video(video)
