extends base.pug
include mixins/players

block content 
  h2 This is Chelsea Page!
  nav
    ul 
      li 
        a(href="chelsea/upload") upload player
      li
        a(href = 'chelsea/videos') video
      li 
        a(href ='chelsea/news') news
  each player in players 
    +player(player)