extends base.pug
include mixins/players

block content 
  h2 This is Chelsea Page!
  each player in players 
    +player(player)
  a(href = '/chelsea/videos') video
  br
  a(href ='/chelsea/news') news